---
---

@import "minima";

.post-content {
  h1 {
    @include relative-font-size(2.5);

    @include media-query($on-laptop) {
      @include relative-font-size(2.25);
    }
    color: red;
  }
}

// h1 {
//     color: blue;
// }

.site-title {
  font-weight: 500;
  font-size: 20px;
}

.site-header {
  border-top: 0;
  border-bottom: 0;
}

.page-link {
  font-size: 16px;
  font-weight: 500;
}

.post-list-heading {
  font-size: 20px;
  font-weight: 500;
}

.post-title {
  font-size: 20px;
  font-weight: 500;
}