---
---

@import "minima";

a {
  color: black;
  border-bottom-style: dotted;
  border-bottom-width: thin;
}

.site-title {
  font-weight: 500;
  font-size: 20px;
}

.site-header {
  border-top: 0;
  border-bottom: 0;
}

.page-link {
  font-size: 16px;
  font-weight: 500;
}

.post-list-heading {
  font-size: 20px;
  font-weight: 500;
}

.post-title {
  font-size: 20px;
  font-weight: 500;
}

.post-link {
  font-size: 20px;
}